.desktop {
  display: block;
}

.mobile {
  display: none;
}

/* Loading screen */
.center {
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.lds-ellipsis {
  bottom: 0;
  height: 80px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* Background */
html, body {
  height: 100vh;
}

html {
  background: url('../assets/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1;
}

/* Profile image */
.image-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.image-container img {
	animation: float 3s ease-in-out infinite;
	-webkit-animation: float 3s ease-in-out infinite;
  height: 100%;
  max-height: 350px;
  max-width: 350px;
  width: 100%;
  opacity: 0.6;
}

/* Picture animation */
@keyframes float {
	0% { transform: translatey(0px); }
	50% { transform: translatey(-8px); }
	100% { transform: translatey(0px); }
}

@-webkit-keyframes float { /* Safari */
	0% { transform: translatey(0px); }
	50% { transform: translatey(-8px); }
	100% { transform: translatey(0px); }
}

/* Header */
h1 {
  color: #f8f8f8;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.02em;
  margin: 20px 0 0 0;
  text-align: center;
}

/* Social icons */
.social-row {
  display: flex;
  justify-content: space-between;
  margin: 50px auto 10px;
  max-width: 450px;
}

.social-item {
  align-items: center;
  border-radius: 50%;
  display: flex;
  font-size: 40px;
  height: 60px;
  justify-content: center;
  width: 60px;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
}

.icon {
  font-size: 35px
}

.icon-image {
  max-height: 23px;
}

/* Colors */
.instagram {
  background-color: #cd486b;
}
.instagram:hover {
  background-color: #BB244D;
}

.spotify {
  background-color: #1DB954;
}
.spotify:hover {
  background-color: #137736;
}

.soundcloud {
  background-color: #f73a0e;
}
.soundcloud:hover {
  background-color: #C32702;
}

/* Hover animations */
.instagram, .spotify, .soundcloud {
  transition: all .2s ease-in-out;
}
.instagram:hover, .spotify:hover, .soundcloud:hover {
  transform: scale(1.1);
}

.spotify-follow {
  text-align: center;
}

@media only screen and (max-width: 550px) {
  h1 {
    margin-top: 50px;
  }

  .social-row {
    margin-bottom: 30px;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}
